.container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    // height: 100vh;
    // justify-content: center;
    .form-select{
        width: 30%;
    }
    .imagencat{
        width: 10%;
        height: 5%;
    }
}